Insight/
project/MDK/boj/
project/MDK/list/
project/MDK/*.bin
project/MDK/*.dep
project/MDK/*.txt
project/MDK/*.map
project/MDK/*.lst
project/MDK/*.tin39
project/MDK/*.bak
project/MDK/*.uvopt








